.header , .body1 , .body2 , .copyright {
   font-family: Verdana , sans-serif;
}
.header , .body1 {
  color: white;
}
.header {
  font-weight: normal;
  font-size: 50px;
}
.body1 {
  font-weight: 300;
  font-size: 42px;
}
.body2 , .copyright {
  color: gray;
  font-size: 21px;
}
a {
  color: aquamarine;
  font-size: 20px;
}
html {
  background-color: black;
  text-align: center;
}
.copyright {
  text-align: right;
}
